In [1]:
import pandas as pd

 > hear the below is representation of raw data which was given

In [2]:
pd.read_csv(r"Dataset (RAW).csv",low_memory=False)

,"Billings; Europe, Sectors & Countries",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255,Unnamed: 256,Unnamed: 257,Unnamed: 258,Unnamed: 259,Unnamed: 260
0,Source: Morgan Stanley Research,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2.0,9,10,11,12,13,14,15,16,...,258,259,260,261,262,263,264,265,266,267
3,NaN,NaN,Europe - On Trailing EY,Consumer Discretionary - On Trailing EY,Consumer Staples - On Trailing EY,Energy - On Trailing EY,Financials - On Trailing EY,Health Care - On Trailing EY,Industrials - On Trailing EY,Information Technology - On Trailing EY,...,Greece - On Trailing BVY,Ireland - On Trailing BVY,Italy - On Trailing BVY,Netherlands - On Trailing BVY,Norway - On Trailing BVY,Portugal - On Trailing BVY,Spain - On Trailing BVY,Sweden - On Trailing BVY,Switzerland - On Trailing BVY,United Kingdom - On Trailing BVY
4,NaN,NaN,Market,Sectors,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11135,28-Aug-17,NaN,19540.2,23407.4,12484.4,32322,13542,14018.6,11966.4,7833.2,...,NaN,22085.2,18572.6,32965.2,27484.4,NaN,33455,18183.6,42591.2,29264.6
11136,29-Aug-17,NaN,19337.8,23310.8,12297.2,32124.6,13323,13779.2,11956.4,8161.8,...,NaN,22369.8,18520.8,33006.8,27707.8,NaN,34186.8,17974,42936.4,28631
11137,30-Aug-17,NaN,19683.4,23461.4,12227.6,31858.2,13161.2,13894.2,11882.6,8057.4,...,NaN,22179.2,18546,32567.8,27414.6,NaN,33779,18208.2,42681.2,28686
11138,31-Aug-17,NaN,19514.2,23859.8,12076.2,31062.6,13425.6,13968.8,12444.4,7895.2,...,NaN,21422.4,19010.4,32488.6,26173.2,NaN,35239.2,19611,42931.4,28286.2
11139,1-Sep-17,NaN,19482.2,23866.8,12058.2,44960.4,13429.4,13774.2,11782.2,8763,...,NaN,21327.2,18827.4,32908.8,25365.8,NaN,35336,19979,43008.4,29284.2

> hear below while reading only i have ignored the first 3 rows which dosent contain any usefull data

In [3]:
df = pd.read_csv(r"Dataset (RAW).csv",low_memory=False,header=3)
df.head()

,1,2,9,10,11,12,13,14,15,16,...,258,259,260,261,262,263,264,265,266,267
0,NaN,NaN,Europe - On Trailing EY,Consumer Discretionary - On Trailing EY,Consumer Staples - On Trailing EY,Energy - On Trailing EY,Financials - On Trailing EY,Health Care - On Trailing EY,Industrials - On Trailing EY,Information Technology - On Trailing EY,...,Greece - On Trailing BVY,Ireland - On Trailing BVY,Italy - On Trailing BVY,Netherlands - On Trailing BVY,Norway - On Trailing BVY,Portugal - On Trailing BVY,Spain - On Trailing BVY,Sweden - On Trailing BVY,Switzerland - On Trailing BVY,United Kingdom - On Trailing BVY
1,NaN,NaN,Market,Sectors,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,EURO,EURO_25,EURO_30,EURO_10,EURO_40,EURO_35,EURO_20,EURO_45,...,GR,IE,IT,NL,NO,PT,ES,SE,CH,GB
3,31-Dec-74,NaN,27536,26861,25887.8,51400.2,28288,10853.8,21598.2,13201.2,...,NaN,NaN,25640.4,21079.6,13796.8,NaN,21978,16744.6,24155.2,14720.6
4,1-Jan-75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

> in the dataframe i have observed that there was some blank columns so droped it which was unwanted

In [4]:
df.dropna(how='all', axis=1,inplace=True)
df.head()

,1,9,10,11,12,13,14,15,16,17,...,258,259,260,261,262,263,264,265,266,267
0,NaN,Europe - On Trailing EY,Consumer Discretionary - On Trailing EY,Consumer Staples - On Trailing EY,Energy - On Trailing EY,Financials - On Trailing EY,Health Care - On Trailing EY,Industrials - On Trailing EY,Information Technology - On Trailing EY,Materials - On Trailing EY,...,Greece - On Trailing BVY,Ireland - On Trailing BVY,Italy - On Trailing BVY,Netherlands - On Trailing BVY,Norway - On Trailing BVY,Portugal - On Trailing BVY,Spain - On Trailing BVY,Sweden - On Trailing BVY,Switzerland - On Trailing BVY,United Kingdom - On Trailing BVY
1,NaN,Market,Sectors,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,EURO,EURO_25,EURO_30,EURO_10,EURO_40,EURO_35,EURO_20,EURO_45,EURO_15,...,GR,IE,IT,NL,NO,PT,ES,SE,CH,GB
3,31-Dec-74,27536,26861,25887.8,51400.2,28288,10853.8,21598.2,13201.2,19206.8,...,NaN,NaN,25640.4,21079.6,13796.8,NaN,21978,16744.6,24155.2,14720.6
4,1-Jan-75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

> row 1 code explination : when they gave the data they explained that row 1 ( check above output for refference ) should be filled till the next available data with before available data

> row 2 code explination : hear i have concotinated row 0,1,2 to a single text row to 2 with saperator " ~ "

In [5]:
df.loc[1] = df.loc[1].ffill()
df.loc[2] = df.loc[0]+" ~ "+df.loc[1]+" ~ "+df.loc[2]
df.head()

,1,9,10,11,12,13,14,15,16,17,...,258,259,260,261,262,263,264,265,266,267
0,NaN,Europe - On Trailing EY,Consumer Discretionary - On Trailing EY,Consumer Staples - On Trailing EY,Energy - On Trailing EY,Financials - On Trailing EY,Health Care - On Trailing EY,Industrials - On Trailing EY,Information Technology - On Trailing EY,Materials - On Trailing EY,...,Greece - On Trailing BVY,Ireland - On Trailing BVY,Italy - On Trailing BVY,Netherlands - On Trailing BVY,Norway - On Trailing BVY,Portugal - On Trailing BVY,Spain - On Trailing BVY,Sweden - On Trailing BVY,Switzerland - On Trailing BVY,United Kingdom - On Trailing BVY
1,NaN,Market,Sectors,Sectors,Sectors,Sectors,Sectors,Sectors,Sectors,Sectors,...,Countries,Countries,Countries,Countries,Countries,Countries,Countries,Countries,Countries,Countries
2,NaN,Europe - On Trailing EY ~ Market ~ EURO,Consumer Discretionary - On Trailing EY ~ Sect...,Consumer Staples - On Trailing EY ~ Sectors ~ ...,Energy - On Trailing EY ~ Sectors ~ EURO_10,Financials - On Trailing EY ~ Sectors ~ EURO_40,Health Care - On Trailing EY ~ Sectors ~ EURO_35,Industrials - On Trailing EY ~ Sectors ~ EURO_20,Information Technology - On Trailing EY ~ Sect...,Materials - On Trailing EY ~ Sectors ~ EURO_15,...,Greece - On Trailing BVY ~ Countries ~ GR,Ireland - On Trailing BVY ~ Countries ~ IE,Italy - On Trailing BVY ~ Countries ~ IT,Netherlands - On Trailing BVY ~ Countries ~ NL,Norway - On Trailing BVY ~ Countries ~ NO,Portugal - On Trailing BVY ~ Countries ~ PT,Spain - On Trailing BVY ~ Countries ~ ES,Sweden - On Trailing BVY ~ Countries ~ SE,Switzerland - On Trailing BVY ~ Countries ~ CH,United Kingdom - On Trailing BVY ~ Countries ~ GB
3,31-Dec-74,27536,26861,25887.8,51400.2,28288,10853.8,21598.2,13201.2,19206.8,...,NaN,NaN,25640.4,21079.6,13796.8,NaN,21978,16744.6,24155.2,14720.6
4,1-Jan-75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

> row 1, 2 & 3 code explination : hear i have taken the row 2 of df ( check last df ) & converted to df column's name and assigning 0 index as data

> row 5 code explination : considered the entire df from row 3

> row 6 code explination : reseted the row index to default

In [6]:
new_header = df.loc[2]
new_header[0] = "date"
df.columns = new_header

df = df[3:]
df = df.rename_axis(None, axis=1)
df.head()

,date,Europe - On Trailing EY ~ Market ~ EURO,Consumer Discretionary - On Trailing EY ~ Sectors ~ EURO_25,Consumer Staples - On Trailing EY ~ Sectors ~ EURO_30,Energy - On Trailing EY ~ Sectors ~ EURO_10,Financials - On Trailing EY ~ Sectors ~ EURO_40,Health Care - On Trailing EY ~ Sectors ~ EURO_35,Industrials - On Trailing EY ~ Sectors ~ EURO_20,Information Technology - On Trailing EY ~ Sectors ~ EURO_45,Materials - On Trailing EY ~ Sectors ~ EURO_15,...,Greece - On Trailing BVY ~ Countries ~ GR,Ireland - On Trailing BVY ~ Countries ~ IE,Italy - On Trailing BVY ~ Countries ~ IT,Netherlands - On Trailing BVY ~ Countries ~ NL,Norway - On Trailing BVY ~ Countries ~ NO,Portugal - On Trailing BVY ~ Countries ~ PT,Spain - On Trailing BVY ~ Countries ~ ES,Sweden - On Trailing BVY ~ Countries ~ SE,Switzerland - On Trailing BVY ~ Countries ~ CH,United Kingdom - On Trailing BVY ~ Countries ~ GB
3,31-Dec-74,27536,26861,25887.8,51400.2,28288,10853.8,21598.2,13201.2,19206.8,...,NaN,NaN,25640.4,21079.6,13796.8,NaN,21978,16744.6,24155.2,14720.6
4,1-Jan-75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2-Jan-75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,3-Jan-75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,6-Jan-75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

> row 1 code explination : converted the columns header to list wherex excluded the data

> row 2 code explination : hear i have performed a crosstable to list ( kid of reverse pivot table )

In [7]:
valvar = df.columns.tolist()[1:]
df = df.melt(id_vars=["date"],value_vars=valvar)
df.head()

        date                                 variable  value
0  31-Dec-74  Europe - On Trailing EY ~ Market ~ EURO  27536
1   1-Jan-75  Europe - On Trailing EY ~ Market ~ EURO    NaN
2   2-Jan-75  Europe - On Trailing EY ~ Market ~ EURO    NaN
3   3-Jan-75  Europe - On Trailing EY ~ Market ~ EURO    NaN
4   6-Jan-75  Europe - On Trailing EY ~ Market ~ EURO    NaN

> row 1 & 2 code explination : hear to split single row column to columns in a single go converted - to ~ and all to at a go converted to multiple columns

> row 3 code explination : droped the column which was used for spliting 

> row 4 code explination : than just rearranged the columns acording to the requiremnt

In [8]:
df["variable"] = df["variable"].str.replace("-","~")
df[["segment","period","type","subtype"]] = df["variable"].str.split(" ~ ",expand=True)
df.drop("variable",axis=1,inplace=True)
df = df[["segment","period","subtype","value","date"]]
df

                segment           period subtype    value       date
0                Europe   On Trailing EY    EURO    27536  31-Dec-74
1                Europe   On Trailing EY    EURO      NaN   1-Jan-75
2                Europe   On Trailing EY    EURO      NaN   2-Jan-75
3                Europe   On Trailing EY    EURO      NaN   3-Jan-75
4                Europe   On Trailing EY    EURO      NaN   6-Jan-75
...                 ...              ...     ...      ...        ...
2839165  United Kingdom  On Trailing BVY      GB  29264.6  28-Aug-17
2839166  United Kingdom  On Trailing BVY      GB    28631  29-Aug-17
2839167  United Kingdom  On Trailing BVY      GB    28686  30-Aug-17
2839168  United Kingdom  On Trailing BVY      GB  28286.2  31-Aug-17
2839169  United Kingdom  On Trailing BVY      GB  29284.2   1-Sep-17

[2839170 rows x 5 columns]